html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: 500;
    background: var(--surface-ground);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
    margin: 0;
}

#app {
    height: 100vh;
}

.page {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
}

.router-link-active-exact > svg, .router-link-active-exact > span {
    color: var(--primary-color) !important;
    transition: all;
    transition-duration: 0.5s;
}

/* Fix bug with visibility of clear filter button */
.p-column-filter-clear-button {
    visibility: visible !important;
}

.form-field-icon {
    align-content: center;
    width: 20px;
}

.profile-enter-active {
    transition: opacity 0.3s ease;
}

.profile-enter-from {
    opacity: 0;
}

.profile-view {
    flex: 1;
    display: grid;
    grid-template-columns: 6rem fit-content(100%);
}

.profile-view-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-view-header-icon-avatar {
    background-color: var(--text-color) !important;
    color: var(--primary-color-text) !important;
}

.profile-view-header {
    display: flex;
    align-items: center;
    height: 4rem;
    font-size: 2rem;
    font-weight: 700;
}

.profile-view-header-skeleton {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    height: 3rem !important;
}

.profile-view-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
}

.profile-view-item {
    margin-bottom: 0.4rem;
    margin-top: 0.4rem;
}

.profile-view-item-skeleton {
    height: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.profile-view-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.profile-view-tab {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 100%;
}

.profile-view-tab .p-tabview-panels {
    overflow-y: scroll;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.profile-dialog {
    width: calc(100% - 10rem);
    max-height: calc(100% - 10rem) !important;
    margin: 5rem !important;
}

.form-dialog {
    width: 60rem;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem !important;
}

.form-selector-dialog {
    width: 70rem;
    max-height: calc(100% - 10rem) !important;
    margin: 5rem !important;
}

.p-tooltip {
    max-width: 15rem !important;
}

.buttons > button {
    margin: 0 0.5rem 0 0 !important;
    width: auto !important;
}
